body{
    text-align: center;
}
.line{
    background-color: black;
    width:50px;
    height: 7px;
    margin: 100px auto;
    text-align: center;
}
#apps{
    background-color: aquamarine;
    height:100%;
        width:100%;
    
    
}
h1{
    font-size:50px;
    font-family: 'Carter One', cursive;
    font-weight: 100;
}
img{
    margin-top: 35px;
    width: 200px;
    height:300px;
}



.container{
    text-align: center;
}
#1div{
    background-color:red;
}
#2div{
    background-color:darkorange;
}
.carousel-inner p{
    margin: 10px auto;
    color:blue;
    font-size: 25px;
}